dotnetapp/WebApp/obj/project.assets.json
dotnetapp/WebApp/obj/project.nuget.cache
dotnetapp/WebApp/obj/WebApp.csproj.nuget.dgspec.json
dotnetapp/WebApp/obj/WebApp.csproj.nuget.g.props
dotnetapp/WebApp/obj/WebApp.csproj.nuget.g.targets
dotnetapp/WebApp/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
dotnetapp/WebApp/obj/Debug/net5.0/project.razor.json
dotnetapp/WebApp/obj/Debug/net5.0/WebApp.AssemblyInfo.cs
dotnetapp/WebApp/obj/Debug/net5.0/WebApp.AssemblyInfoInputs.cache
dotnetapp/WebApp/obj/Debug/net5.0/WebApp.csproj.AssemblyReference.cache
dotnetapp/WebApp/obj/Debug/net5.0/WebApp.GeneratedMSBuildEditorConfig.editorconfig
dotnetapp/WebApp/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
dotnetapp/WebApp/obj/Debug/net6.0/project.razor.json
dotnetapp/WebApp/obj/Debug/net6.0/WebApp.AssemblyInfo.cs
dotnetapp/WebApp/obj/Debug/net6.0/WebApp.AssemblyInfoInputs.cache
dotnetapp/WebApp/obj/Debug/net6.0/WebApp.assets.cache
dotnetapp/WebApp/obj/Debug/net6.0/WebApp.csproj.AssemblyReference.cache
dotnetapp/WebApp/obj/Debug/net6.0/WebApp.GeneratedMSBuildEditorConfig.editorconfig
dotnetapp/WebApp/obj/Debug/net6.0/WebApp.RazorAssemblyInfo.cache
dotnetapp/WebApp/obj/Debug/net6.0/WebApp.RazorAssemblyInfo.cs
